{
  "env" : {
    "node"  : true,
    "mocha" : true
  },

  "rules" : {
    "quotes"       : [ 2, "single" ],
    "comma-dangle" : [ 2, "always-multiline" ],
    "key-spacing"  : [ 0, { "beforeColon" : true, "afterColon" : true } ]
  }
}
